[hub]
  protocol = https
[credential]
  helper = osxkeychain
[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  editore = nvim
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[include]
  path = ~/.gitconfig.private
[github]
  user = twokul
[push]
  default = simple
[alias]
  save = !git add -A && git commit -m 'SAVEPOINT'
  wip = !git add -u && git commit -m "WIP"
  amend = !git commit --amend -C HEAD
  lol = !git log --pretty --oneline --abbrev-commit --graph
  delete-merged-branches = "!git branch --merged | grep -v master | grep -v $(git symbolic-ref --short HEAD) | xargs git branch -d"
[filter "lfs"]
  smudge = git-lfs smudge %f
  required = true
  clean = git-lfs clean %f
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[mergetool]
  prompt = false
[diff]
  tool = Kaleidoscope
