[hub]
  protocol = https
[user]
  name = Alex Navasardyan
  email = alex.navasardyan@gmail.com
[credential]
  helper = osxkeychain
[core]
  autocrlf = input
  excludesfile = /Users/alex/.gitignore_global
  editor = nvim
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = Kaleidoscope
[github]
  user = twokul
[push]
  default = simple
[alias]
  diff-upstream = "! git for-each-ref --shell --format='b=%(refname:short); u=%(upstream:short); git diff  ' refs/heads/master | sh"
  delete-merged-branches = "!git branch --merged | grep -v master | grep -v $(git symbolic-ref --short HEAD) | xargs git branch -d"
  wtf = "! $HOME/.dotfiles/bin/git-wtf"
  rank-contributors = "! $HOME/.dotfiles/bin/git-rank-contributors"
  setup-fetching-prs = "config --add remote.origin.fetch '+refs/pull/*/head:refs/remotes/origin/pr/*'"
  amend = "! git commit --amend -C HEAD"
  lol = "! git log --pretty --oneline --abbrev-commit --graph"
